$brandColorPrimary1: #260046;
$brandColorPrimary1T05: #f4f2f6;
$brandColorPrimary1T10: #e9e6ed;
$brandColorPrimary1T20: #d4ccda;
$brandColorPrimary1T30: #beb3c8;
$brandColorPrimary1T40: #a899b5;
$brandColorPrimary1T50: #9380a3;
$brandColorPrimary1T60: #7d6690;
$brandColorPrimary1T70: #674d7e;
$brandColorPrimary1T80: #51336b;
$brandColorPrimary1T90: #3c1959;
$brandColorPrimary2: #d93e02;
$brandColorPrimary2T05: #fdf5f2;
$brandColorPrimary2T10: #fbece6;
$brandColorPrimary2T20: #f7d8cc;
$brandColorPrimary2T30: #f4c5b3;
$brandColorPrimary2T40: #f0b29a;
$brandColorPrimary2T50: #ec9f81;
$brandColorPrimary2T60: #e88b67;
$brandColorPrimary2T70: #e4784e;
$brandColorPrimary2T80: #e16535;
$brandColorPrimary2T90: #dd511b;
$brandColorPrimary3: #ede1b5;
$brandColorPrimary3T05: #fefefb;
$brandColorPrimary3T10: #fdfcf8;
$brandColorPrimary3T20: #fbf9f0;
$brandColorPrimary3T30: #faf6e9;
$brandColorPrimary3T40: #f8f3e1;
$brandColorPrimary3T50: #f6f0da;
$brandColorPrimary3T60: #f4edd3;
$brandColorPrimary3T70: #f2eacb;
$brandColorPrimary3T80: #f1e7c4;
$brandColorPrimary3T90: #efe4bc;
$brandColorPrimary4: #FB943C;
$brandColorPrimary4T05: #FFF9F5;
$brandColorPrimary4T10: #FEF4EB;
$brandColorPrimary4T20: #FEEAD8;
$brandColorPrimary4T30: #FDDEC4;
$brandColorPrimary4T40: #FDD4B1;
$brandColorPrimary4T50: #FDC99D;
$brandColorPrimary4T60: #FDBF8A;
$brandColorPrimary4T70: #FCB476;
$brandColorPrimary4T80: #FCA963;
$brandColorPrimary4T90: #FB9E4F;
$brandColorSecondary1: #49B79C;
$brandColorSecondary1T05: #F6FBFA;
$brandColorSecondary1T10: #ECF7F5;
$brandColorSecondary1T20: #DBF1EB;
$brandColorSecondary1T30: #C8E9E1;
$brandColorSecondary1T40: #B6E2D7;
$brandColorSecondary1T50: #A4DBCD;
$brandColorSecondary1T60: #92D4C4;
$brandColorSecondary1T70: #7FCCB9;
$brandColorSecondary1T80: #6DC5B0;
$brandColorSecondary1T90: #44bbbd;
$brandColorSecondary2: #84C9BB;
$brandColorSecondary2T05: #F9FCFB;
$brandColorSecondary2T10: #F2F9F8;
$brandColorSecondary2T20: #E6F4F1;
$brandColorSecondary2T30: #DAEEEA;
$brandColorSecondary2T40: #CEE9E4;
$brandColorSecondary2T50: #C1E4DD;
$brandColorSecondary2T60: #B5DFD6;
$brandColorSecondary2T70: #A8D9CF;
$brandColorSecondary2T80: #9DD4C9;
$brandColorSecondary2T90: #90CEC1;
$brandColorSecondary3: #EFB99C;
$brandColorSecondary3T05: #FEFBFA;
$brandColorSecondary3T10: #FDF8F5;
$brandColorSecondary3T20: #FCF1EB;
$brandColorSecondary3T30: #FAEAE1;
$brandColorSecondary3T40: #F9E3D7;
$brandColorSecondary3T50: #F7DCCD;
$brandColorSecondary3T60: #F5D5C4;
$brandColorSecondary3T70: #F3CEB9;
$brandColorSecondary3T80: #F2C7B0;
$brandColorSecondary3T90: #F0C0A5;
$brandColorSecondary4: #F28D6B;
$brandColorSecondary4T05: #FEF9F7;
$brandColorSecondary4T10: #FDF3F0;
$brandColorSecondary4T20: #FCE8E1;
$brandColorSecondary4T30: #FBDCD2;
$brandColorSecondary4T40: #FAD1C4;
$brandColorSecondary4T50: #F8C6B5;
$brandColorSecondary4T60: #F7BBA6;
$brandColorSecondary4T70: #F5AF97;
$brandColorSecondary4T80: #F5A489;
$brandColorSecondary4T90: #F39879;
$brandColorSecondary5: #495658;
$brandColorSecondary5T05: #F6F6F6;
$brandColorSecondary5T10: #ECEEEE;
$brandColorSecondary5T20: #DBDDDE;
$brandColorSecondary5T30: #C8CCCC;
$brandColorSecondary5T40: #B6BBBC;
$brandColorSecondary5T50: #A4AAAB;
$brandColorSecondary5T60: #929A9B;
$brandColorSecondary5T70: #7F888A;
$brandColorSecondary5T80: #6D7879;
$brandColorSecondary5T90: #5B6668;
$brandColorSecondary6: #EDEBE3;
$brandColorSecondary6T05: #FEFEFD;
$brandColorSecondary6T10: #FDFDFC;
$brandColorSecondary6T20: #FBFBF9;
$brandColorSecondary6T30: #FAF9F7;
$brandColorSecondary6T40: #F8F7F4;
$brandColorSecondary6T50: #F6F5F1;
$brandColorSecondary6T60: #F4F3EE;
$brandColorSecondary6T70: #F2F1EB;
$brandColorSecondary6T80: #F1EFE9;
$brandColorSecondary6T90: #EFEDE6;
$brandColorBlack: #000000;
$brandColorWhite: #ffffff;
$brandColorGrayT05: #eaeaea;
$brandColorGrayT10: #d5d5d5;
$brandColorGrayT20: #c0c0c0;
$brandColorGrayT30: #ababab;
$brandColorGrayT40: #979797;
$brandColorGrayT50: #828282;
$brandColorGrayT60: #6d6d6d;
$brandColorGrayT70: #585858;
$brandColorGrayT80: #434343;
$brandColorGrayT90: #2e2e2e; 