@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

.headings {
  font-family: "Open Sans";
  font-weight: bold;
}

.display1 {
  line-height: 116px;
  font-size: 96px;
  letter-spacing: -0.5px;
}
.display1 .mobile {
  font-family: "Open Sans";
  font-weight: medium;
  line-height: 60px;
  font-size: 52px;
  letter-spacing: -0.5px;
}

.display2 {
  line-height: 60px;
  font-size: 52px;
  letter-spacing: -0.5px;
}
.display2 .mobile {
  line-height: 52px;
  font-size: 44px;
  letter-spacing: -0.5px;
}

.display3 {
  line-height: 52px;
  font-size: 44px;
  letter-spacing: -0.5px;
}
.display3 .mobile {
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.display4 {
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
.display4 .mobile {
  line-height: 40px;
  font-size: 32px;
  letter-spacing: -0.5px;
}

.heading1 {
  font-family: "Open Sans";
  font-weight: medium;
  line-height: 48px;
  font-size: 40px;
  letter-spacing: -0.5px;
}

.heading4 {
  font-family: "Open Sans";
  font-weight: medium;
  line-height: 32px;
  font-size: 28px;
  letter-spacing: -0.5px;
}

.heading2 {
  line-height: 44px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
.heading2 .mobile {
  line-height: 40px;
  font-size: 32px;
  letter-spacing: -0.5px;
}

.heading3 {
  line-height: 40px;
  font-size: 32px;
  letter-spacing: -0.5px;
}
.heading3 .mobile {
  line-height: 32px;
  font-size: 28px;
  letter-spacing: -0.5px;
}

.heading5 {
  line-height: 28px;
  font-size: 24px;
  letter-spacing: -0.5px;
  font-weight: medium;
}
.heading5 .mobile {
  line-height: 24px;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.heading6 {
  line-height: 24px;
  font-size: 22px;
  letter-spacing: -0.5px;
}
.heading6 .mobile {
  line-height: 24px;
  font-size: 20px;
  letter-spacing: -0.5px;
}

p {
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: 0px;
}

p.large {
  font-size: 18px;
}

p.small {
  font-size: 14px;
}

label {
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 112.5%;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: "none";
}

.label-large {
  font-size: 18px;
}

.label-small {
  font-size: 14px;
}

caption {
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 112.5%;
  font-size: 14px;
  letter-spacing: 0px;
}

.caption {
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 112.5%;
  font-size: 14px;
  letter-spacing: 0px;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #585858;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.info {
  font-size: 14px;
  margin: auto;
  display: inline;
}

.info::before {
  content: url(../images/icons/ic-info-circle.svg);
  vertical-align: middle;
  width: 16px;
  vertical-align: middle;
  margin-right: 8px;
  text-decoration: none;
}

.warning {
  font-size: 14px;
  margin: auto;
  display: inline;
}

.warning::before {
  content: url(../images/icons/ic-warning-colored.svg);
  vertical-align: middle;
  width: 16px;
  vertical-align: middle;
  margin-right: 8px;
  text-decoration: none;
}

.danger {
  font-size: 14px;
  margin: auto;
  display: inline;
}

.danger::before {
  content: url(../images/icons/ic-danger-colored.svg);
  vertical-align: middle;
  width: 16px;
  vertical-align: middle;
  margin-right: 8px;
  text-decoration: none;
}

.on-inverse {
  color: #ffffff;
}

a {
  color: #260046;
}
a .info {
  text-decoration: none;
}

a:hover {
  color: #7d6690;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

.dictionary {
  -webkit-text-decoration: dashed !important;
          text-decoration: dashed !important;
  font-weight: normal;
  cursor: help;
  border-bottom: 1px dashed #d5d5d5;
}

.dictionary:hover {
  cursor: help;
  color: #7d6690;
}

.strong {
  font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Ensure it covers the full width */
}

.bglight {
  background-color: #eaeaea;
  color: #2e2e2e;
}

.body-container {
  flex-grow: 1;
  max-width: 834px; /* Your specified max-width */
  width: 100%; /* Take up as much width as possible up to max-width */
  box-sizing: border-box; /* Include padding in the width calculation */
  margin: 32px auto;
  /* Other styles... */
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
}

hr {
  margin-top: 40px;
  border: 1px solid #d5d5d5;
}

.elevation-small {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.elevation-medium {
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
}

.elevation-large {
  box-shadow: 0 24px 40px -16px rgba(0, 0, 0, 0.16);
}

.space {
  padding: 0;
  margin: 0;
}

.v-2xsmall {
  height: 2px;
}

.v-xsmall {
  height: 4px;
}

.v-small {
  height: 8px;
}

.v-none {
  height: 0;
}

.v-medium {
  height: 16px;
}

.v-large {
  height: 24px;
}

.v-xlarge {
  height: 32px;
}

.v-2xlarge {
  height: 40px;
}

.v-3xlarge {
  height: 48px;
}

.v-4xlarge {
  height: 64px;
}

.make-flex {
  display: flex;
}
.make-flex .column {
  flex-direction: column;
}
.make-flex .row {
  flex-direction: row;
}
.make-flex .stretch {
  align-items: stretch;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.stretch {
  align-items: stretch;
}

.icon-on-inverse::before {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(99%) contrast(103%);
}

.navbar {
  margin: 0;
  background-color: #d4ccda;
  display: flex;
  padding: 16px;
}

.navbar a {
  text-decoration: none;
}

.logo {
  font-size: 1.4rem;
  color: #d93e02;
}

.logo span:first-of-type {
  font-weight: 900;
  color: #260046;
  text-transform: uppercase;
  font-style: italic;
}

.tc-header {
  background-color: #260046;
  min-height: 80px;
  margin-top: auto;
  color: #ffffff;
  padding: 60px 0;
  width: 100%;
}
.tc-header .content {
  margin: auto;
  max-width: 834px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 16px 24px !important;
  }
}
.footer {
  min-height: 40px;
  background-color: #260046;
  color: #ffffff;
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.footer {
  margin-top: 40px;
}

a.footer-link {
  color: #ffffff;
  text-decoration: none;
}

a.footer-link:hover {
  color: #beb3c8;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 40px 24px;
  }
}
.navbar {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  padding: 8px;
}

.navbar a {
  text-decoration: none;
}

.logo {
  font-size: 1.4rem;
}

.logo span:first-of-type {
  font-weight: 900;
  color: #260046;
  text-transform: uppercase;
  font-style: italic;
}

.num {
  color: #7d6690;
  font-weight: 400;
  width: 40px;
  padding-right: 8px;
}

.sub {
  top: -32px;
  padding: 12px;
  margin-left: -12px;
  margin-right: -12px;
  background-color: rgba(172, 210, 223, 0);
  /* background-image: linear-gradient(#efefef, white, white); */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.my-label {
  padding-bottom: 4px;
}

.question-list {
  /* position: relative; */
  margin-top: 0;
  margin-left: -1rem;
  /* border: 1px solid palevioletred; */
}

.form-element {
  display: flex;
  gap: 12px;
  text-align: left;
}

.knockout-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonbar {
  display: flex;
  gap: 16px;
}

.salary-div {
  height: 100%;
}

select:focus {
  box-shadow: #015BD7 0 0 6px;
}

input:focus {
  box-shadow: #015BD7 0 0 6px;
}

.caption {
  margin-top: 8px;
  font-size: smaller;
  line-height: 1.1rem;
  color: #666666;
}

.value {
  /* border: 1px solid #ff5ec4; */
  margin-top: 4px;
}

.suffix {
  margin-left: -1px;
  color: #666666;
  background-color: #eeeeee;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12pt;
  /* line-height: 22pt; */
  padding: 8px;
  border: 1px solid #fff;
  outline: solid 1px #cccccc;
  outline-offset: -1px;
  display: inline-block;
}

#frequency {
  margin-left: -6px;
}

#hours-worked {
  width: 70px;
  text-align: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#salary {
  /* width: 100%;  */
  width: 40%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#salary-container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items:flex-start; */
  flex-basis: auto;
  flex-flow: row wrap;
}

.salary-div {
  height: 60px;
  min-width: 160px;
  /* flex-grow: 2; */
  /* padding-right: 40px; */
  /* border: 1px solid #666666; */
}

.bump-down {
  line-height: 24px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #dedede; /* old IE */
  background-color: #dedede; /* Modern Browsers */
  margin: 40px 0 20px 0;
  /* width: 60%; */
}

.margin-btm-x2 {
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

.hidden .hidden-margin-top {
  /* Fix margin top issue on question 5b where the list butts up agains the label */
  margin-top: 0;
}

@media only screen and (max-width: 788px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    margin-left: 12px;
    margin-right: 12px;
    /* width: 100%; */
  }
  .intro {
    max-width: 768px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    margin-left: 8px;
    margin-right: 8px;
    /* width: 100%; */
  }
  .intro {
    max-width: 768px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
.tc-form-label {
  margin-top: 24px;
  display: flex;
  justify-content: stretch;
}

.tc-accordion {
  border-bottom: 1px solid #d5d5d5;
  padding: 16px;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.tc-accordion img {
  vertical-align: middle;
  margin-right: 8px; /* Add some space between the icon and text */
}

.tc-accordion-label {
  width: 100%;
}

.tc-accordion::before {
  content: "+";
  color: #260046;
  font-size: 28px;
  font-weight: 300;
  float: right;
  margin-right: 8px;
}

.active::before {
  content: "−";
}

.tc-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

button {
  height: 48px;
  padding: 0 24px;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 112.5%;
  font-size: 16px;
  cursor: pointer;
}

.btn-large {
  height: 56px;
  padding: 0 24px;
  line-height: 112.5%;
  font-size: 18px;
}

.btn-small {
  height: 40px;
  padding: 0 16px;
  line-height: 112.5%;
  font-size: 16px;
}

.primary {
  background-color: #260046;
  border: 2px solid #260046;
  color: #ffffff;
  border-radius: 9999px;
}

.primary:hover {
  background-color: #7d6690;
  border: 2px solid #7d6690;
}

.primary:active {
  background-color: #7d6690;
  border: 2px solid #7d6690;
}

.primary:disabled {
  background-color: rgba(47, 57, 63, 0.05);
  color: #828282;
}

.secondary {
  border: 2px solid #260046;
  background-color: none;
  color: #260046;
  border-radius: 9999px;
}

.secondary:hover {
  border: 2px solid #d93e02;
  color: #7d6690;
  border-radius: 9999px;
}

.tertiary {
  background-color: rgba(0, 0, 0, 0);
  color: #260046;
  border: 2px solid rgba(0, 0, 0, 0);
}

.tertiary:hover {
  border: 2px solid #0091FF;
  border-radius: 9999px;
}

.collapse {
  padding: 0;
}

.link {
  color: #260046;
}

.link:hover {
  color: #7d6690;
  cursor: pointer;
}

.primary .danger {
  background-color: #b00116;
}

.secondary .danger {
  background-color: #b00116;
}

.primary .inverse .danger {
  background-color: #ffffff;
  color: #b00116;
  border-color: #b00116;
}

.secondary .inverse .danger {
  background-color: #ffffff;
  color: #b00116;
  border-color: #b00116;
}

.secondary.danger {
  background-color: #ffffff;
  color: #b00116;
  border-color: #b00116;
}

.btn-full {
  width: 100%;
}

.tc-card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
}
.tc-card .card-header {
  background-color: #260046;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.tc-card .card-body {
  background-color: #ffffff;
  color: #585858;
  border-radius: 0 0 8px 8px;
  border: 1px solid #d5d5d5;
  border-top: none;
  overflow: hidden;
  padding: 16px;
}
.tc-card .bglight {
  background-color: #eaeaea;
  color: #585858;
}

.card-head-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
}

.card-header, .bglight {
  background-color: #eaeaea;
  color: #585858;
}

.btn-action {
  height: 32px;
  padding: 0 12px;
  line-height: 112.5%;
  font-size: 14px;
}

.card-sub {
  padding-top: 16px;
}

.info-text-hidden {
  padding-bottom: 8px;
}

.cover-item-total {
  background-color: rgba(212, 204, 218, 0.5);
  margin-bottom: -1px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.cover-item .dictionary {
  border-color: #585858;
}

.cover-item:first-child {
  border-radius: 8px 8px 0 0;
}

.cover-item:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: none;
}

.ctas {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-width10 {
  width: 10%;
}

.btn-width20 {
  width: 20%;
}

.btn-width30 {
  width: 30%;
}

.btn-width40 {
  width: 40%;
}

.btn-width50 {
  width: 50%;
}

.btn-width60 {
  width: 60%;
}

.btn-width70 {
  width: 70%;
}

.btn-width80 {
  width: 80%;
}

.btn-width90 {
  width: 90%;
}

.btn-width-auto {
  width: auto;
}

.accordion-container {
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.accordion {
  border-bottom: 1px solid #d5d5d5;
  padding: 16px;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
}

.accordion-label {
  font-weight: bold;
}

.cover-sum {
  color: #2e2e2e;
}

.accordion img {
  vertical-align: middle;
  margin-right: 8px; /* Add some space between the icon and text */
}

.panel {
  background-color: #eaeaea;
  display: none;
  overflow: hidden;
}

.row {
  border-bottom: 1px solid #d5d5d5;
  padding: 16px;
  display: flex;
  justify-content: space-between !important;
  align-items: stretch;
}

.row .label {
  font-weight: bold;
  width: auto;
}

.sub-icon {
  margin-left: 4px;
  margin-right: 8px;
}

.cover-value {
  color: #585858;
  text-align: right;
  width: auto;
}

#totalPremiumRow {
  background-color: #f4f2f6;
  border: none;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-between !important;
  align-items: stretch;
}

#totalPremiumValue {
  text-align: right;
  width: auto;
}

.permonth {
  font-weight: normal;
}

.account-details {
  margin-bottom: 20px;
}

.form-element {
  margin: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2e2e;
}
.form-element .caption {
  margin-top: 0px;
}

.value {
  margin: 0;
  color: #585858;
  font-size: 18px;
  width: 100%;
  display: flex;
  gap: 8px;
}

.radio-group {
  margin-top: 20px;
  display: flex;
  gap: 0 0;
}

.radio-item {
  font-size: 12pt;
  padding: 12px 20px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
}
.radio-item input {
  margin: 0;
}

.radio-item:hover {
  background-color: #7d6690;
  color: #ffffff;
}

.radio-container {
  display: flex;
  gap: 8px;
}

.radio-item:active {
  background-color: #260046;
  color: #fff;
}

.radio-item input:checked {
  background-color: #260046;
  color: #fff;
}

label {
  font-size: 16px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
label svg {
  fill: #260046;
}
label svg path {
  fill: #260046;
}
label svg:hover {
  cursor: pointer;
  fill: #7d6690;
}
label svg:hover path {
  fill: #7d6690;
}
label .icon-bg {
  background-color: #ffffff;
  border-radius: 100px;
}

.label-icon {
  font-size: 16px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
.label-icon svg {
  fill: #260046;
}

input {
  font-family: "Open Sans";
  color: #585858;
  font-size: 16px;
  background-color: #ffffff;
  padding: 12px 20px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

input:focus {
  border-color: #0091FF;
}

select {
  appearance: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  font-family: "Open Sans";
  color: #585858;
  font-size: 16px;
  background-color: #ffffff;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  padding: 12px 48px 12px 20px;
}

.num {
  color: #7d6690;
  font-weight: 400;
  width: 40px;
  padding-right: 8px;
}

.tc-inline-alert {
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
}

.tc-inline-alert::first-line {
  content: url("../../../images/icons/ic-info-circle.svg");
}

.tc-inline-alert.make-flex {
  gap: 8px;
}

.tc-inline-alert.low-contrast {
  background-color: rgba(212, 204, 218, 0.5);
}

.tc-inline-alert.info {
  background-color: #d4ccda;
}

.tc-inline-alert.warning {
  background-color: #FDDEC4;
}

.tc-inline-alert.danger {
  background-color: #F2DEDE;
}

div.list div {
  counter-increment: list-number;
}

div.list div:before {
  content: counter(list-number) ". ";
  color: #7d6690;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-right: 16px;
}

div.list div {
  margin-top: 8px;
}

/*Dialog Styles*/
dialog {
  /* padding: 1rem 3rem; */
  background: #ffffff;
  /* max-width: (768-64)px; */
  /* max-height: 800px; */
  /* height: 70%; */
  width: 60%;
  /* padding-top: 2rem; */
  overflow-x: hidden;
  padding: 0;
  border-radius: 8px;
  border: none;
  box-shadow: 0 24px 40px -16px rgba(0, 0, 0, 0.16);
  animation: fadeIn 1s ease both;
}
dialog::backdrop {
  animation: fadeIn 1s ease both;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
dialog .x {
  color: #260046;
  border: none;
  background: none;
  position: absolute;
  font-size: 24px;
  text-align: right;
  top: 4px;
  right: -4px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
dialog .x:hover {
  color: #7d6690;
  transform: scale(1.1);
}

/*General Styles*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  max-height: 80dvh;
  background-color: #ffffff;
}

.modal-content {
  /* position: absolute; */
  overflow-y: scroll;
  padding: 16px;
  left: 0;
}

.modal-header {
  padding: 0 16px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.modal-title {
  margin-right: 32px;
}

.modal-footer {
  /* position: fixed; */
  border-top: 1px solid #eaeaea;
  padding: 16px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .modal-footer {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  dialog {
    width: 90%;
  }
  .modal-container {
    max-height: 80dvh;
  }
  .modal-title {
    font-size: smaller;
  }
}
/* Slider container styles */
.slider-outer {
  left: 16px;
  width: calc(100% - 16px);
}

.slider-container {
  position: relative;
  width: auto;
  margin: 20px;
  margin-top: 40px;
  padding-bottom: 24px;
}

/* Slider styles */
.slider {
  width: 100%;
  padding: 0;
  margin-top: 20px;
  /*    margin: 20px 0;*/
}

/* Tooltip styles */
.slider-tooltip {
  position: absolute;
  background-color: #260046;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  transform: translateX(-50%); /* Only shift horizontally */
  bottom: 52px; /* Adjust this value to control vertical gap */
  margin-right: 20px;
  font-size: 14px;
  min-width: 20px;
}

.unit-marks, option {
  border: 2px solid #7d6690;
}

.min-label {
  float: left;
}

.max-label {
  float: right;
}

.slider-text-input-container {
  clear: both;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

.slider-text-label {
  float: right;
  padding: 12px 0;
}

.slider-text-input {
  width: 100px !important;
  border-radius: 0 4px 4px 0;
}

.input-prefix {
  border: 1px solid #d5d5d5;
  border-radius: 4px 0 0 4px;
  margin-right: -16px;
  border-right: none;
  padding: 12px;
  background-color: #eaeaea;
}

.slider-text-before {
  padding: 12px;
  border: 1px solid #d5d5d5;
  border-radius: 4px 0 0 4px;
}

input[type=range] {
  accent-color: #260046;
}

.tc-switch-labelwrap {
  display: inline-flex;
  gap: 16px;
  align-items: center;
}

.tc-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.tc-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tc-switch-background {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d5d5d5;
  transition: 0.2s;
}

.tc-switch-background:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

input:checked + .tc-switch-background {
  background-color: #260046;
}

input:focus + .tc-switch-background {
  box-shadow: 0 0 1px #260046;
}

input:checked + .tc-switch-background:before {
  transform: translateX(16px);
}

/* Rounded tc-switch-backgrounds */
.tc-switch-background.round {
  border-radius: 34px;
}

.tc-switch-background.round:before {
  border-radius: 50%;
}

.tc-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tc-tooltip .tc-tooltiptext {
  visibility: hidden;
  width: 200%;
  max-width: 260px;
  min-width: 200px;
  background-color: #ffffff;
  color: #585858;
  text-align: center;
  border-radius: 8px;
  padding: 4px 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  /* Position the tooltip */
  position: absolute;
  z-index: 999;
  bottom: 100%;
  left: 50%;
  margin-left: -100%;
}

.tc-tooltip:hover .tc-tooltiptext {
  visibility: visible;
}

.tooltiptest {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: absolute;
  max-width: 260px;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

#close-tooltip {
  /* background-color: #ddd; */
  /* border: 1px solid black; */
  height: 28px;
  width: 28px;
  /* padding: 4px; */
  /* color: #fff; */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotate(45deg); */
  /* border-radius: 100px; */
  border-bottom-left-radius: 8px;
  margin-left: 8px;
  margin-right: -18px;
  margin-top: -12px;
  float: right;
  box-shadow: inset rgba(0, 0, 0, 0.3) 4px -4px 8px -4px;
}

#perc-container {
  margin-top: 8px;
  margin-bottom: 16px;
}

#perc-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px !important;
  line-height: 0px;
  margin-bottom: 16px;
}

.perc-labels {
  display: flex;
  align-content: center;
  gap: 4px;
}

.circ {
  font-weight: bold;
  font-size: 40px;
  line-height: 0px;
  margin-bottom: -16px;
}

#tc-perc-container {
  display: flex;
  min-width: 200px !important;
  height: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.num1 {
  background-color: #260046;
}

.num2 {
  background-color: #d93e02;
  color: #d93e02;
}

.circ.num1 {
  background-color: rgba(0, 0, 0, 0);
  color: #260046;
}

.circ.num2 {
  background-color: rgba(0, 0, 0, 0);
  color: #d93e02;
}

.tc-tag {
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: normal;
}

.tc-tag.increased {
  background-color: #d4ccda;
}

.tc-tag.no-change {
  background-color: #eaeaea;
}

.tc-tag.decreased {
  background-color: #F2DEDE;
}/*# sourceMappingURL=main.css.map */